<div class="check-targets">
  {{#unless hideLabel}}
  <div class="check-targets-header">
    <span class="check-targets-label">
      {{#if (eq defense "defense")}}{{localize "DASU.Actor.Stat.Defense.long"}}{{else}}{{localize "DASU.Actor.Stat.Avoid.long"}}{{/if}}
    </span>
  </div>
  {{/unless}}
  {{#each targets}}
  <div class="check-target{{#if this.hit}} target-hit{{else}} target-miss{{/if}}">
    <span class="target-name" data-uuid="{{this.uuid}}">{{this.name}}</span>
    {{#unless ../hideTn}}{{#if this.tn}}<span class="target-tn">{{this.tn}}</span>{{/if}}{{/unless}}
    <span class="target-outcome">
      {{#if this.hit}}{{localize "DASU.Check.Hit"}}{{else}}{{localize "DASU.Check.Miss"}}{{/if}}
    </span>
    {{#if ../hasTargetActions}}
    <button type="button" class="target-apply-menu" data-target-uuid="{{this.uuid}}"
            data-target-hit="{{#if this.hit}}1{{else}}0{{/if}}">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    {{/if}}
  </div>
  {{/each}}
</div>
