<div class="check-targets">
  {{#unless hideLabel}}
  <div class="check-targets-header">
    <span class="check-targets-label">
      {{#if (eq defense "defense")}}{{localize "DASU.Actor.Stat.Defense.long"}}{{else}}{{localize "DASU.Actor.Stat.Avoid.long"}}{{/if}}
    </span>
  </div>
  {{/unless}}
  {{#each targets}}
  <div class="check-target{{#if this.hit}} target-hit{{else}} target-miss{{/if}}">
    <span class="target-name" data-uuid="{{this.uuid}}">{{this.name}}</span>
    {{#unless ../hideTn}}{{#if this.tn}}<span class="target-tn">{{this.tn}}</span>{{/if}}{{/unless}}
    <span class="target-outcome">
      {{#if this.hit}}{{localize "DASU.Check.Hit"}}{{else}}{{localize "DASU.Check.Miss"}}{{/if}}
    </span>
    {{#if this.hit}}{{#if ../canApplyDamage}}
    <button type="button" class="target-apply-damage" data-action="applyDamage" data-target-uuid="{{this.uuid}}" data-tooltip="Apply Damage">
      <i class="fa-solid fa-heart-crack"></i>
    </button>
    {{/if}}{{/if}}
  </div>
  {{/each}}
</div>
