<div class="check-targets">
  <div class="check-targets-header">
    {{#unless hideLabel}}
    <span class="check-targets-label">
      {{#if (eq defense "defense")}}{{localize "DASU.Actor.Stat.Defense.long"}}{{else}}{{localize "DASU.Actor.Stat.Avoid.long"}}{{/if}}
    </span>
    {{/unless}}
    <button type="button" class="target-apply-damage-all" data-tooltip="Apply Damage to All Hits" disabled>
      <i class="fa-solid fa-heart-crack"></i>
      <i class="fa-solid fa-angles-right"></i>
    </button>
  </div>
  {{#each targets}}
  <div class="check-target{{#if this.hit}} target-hit{{else}} target-miss{{/if}}">
    <span class="target-name">{{this.name}}</span>
    {{#unless ../hideTn}}{{#if this.tn}}<span class="target-tn">{{this.tn}}</span>{{/if}}{{/unless}}
    <span class="target-outcome">
      {{#if this.hit}}{{localize "DASU.Check.Hit"}}{{else}}{{localize "DASU.Check.Miss"}}{{/if}}
    </span>
    {{#if this.hit}}
    <button type="button" class="target-apply-damage" data-target-id="{{this.id}}" data-tooltip="Apply Damage" disabled>
      <i class="fa-solid fa-heart-crack"></i>
    </button>
    {{/if}}
  </div>
  {{/each}}
</div>
