<div class="adv-expand">

  {{!-- Description --}}
  <div class="adv-expand__description">
    {{{description}}}
  </div>

  {{!-- Per-type editor --}}
  <div class="adv-expand__fields">

    {{#if (eq type "aptitude")}}
    <label class="adv-expand__field">
      <span>{{localize "DASU.Advancement.Aptitude.Amount"}}</span>
      <input type="number" min="1" step="1" value="{{data.amount}}"
        data-advancement-id="{{advancementId}}" data-field="amount"
        {{#unless editable}}disabled{{/unless}} />
    </label>
    {{/if}}

    {{#if (eq type "schemaSlot")}}
    <p class="adv-expand__hint">{{localize "DASU.Item.Class.OpenSlotHint"}}</p>
    {{/if}}

    {{#if (eq type "schemaUpgrade")}}
    <div class="adv-expand__upgrade-row">
      <label class="adv-expand__field">
        <span>{{localize "DASU.Advancement.SchemaUpgrade.Slot"}}</span>
        <select data-advancement-id="{{advancementId}}" data-field="targetAdvancementId"
          {{#unless editable}}disabled{{/unless}}>
          {{selectOptions data.slotOptions selected=data.targetAdvancementId}}
        </select>
      </label>
      <span class="adv-expand__arrow">&gt;</span>
      <span class="adv-expand__tier">
        <span>{{localize "DASU.Advancement.SchemaUpgrade.Tier"}}</span>
        <strong>{{data.upgradeTo}}</strong>
      </span>
    </div>
    {{/if}}

    {{#if (eq type "itemGrant")}}
    <label class="adv-expand__field">
      <span>{{localize "DASU.Advancement.ItemGrant.ItemType"}}</span>
      <select data-advancement-id="{{advancementId}}" data-field="itemType"
        {{#unless editable}}disabled{{/unless}}>
        {{selectOptions itemTypeOptions selected=data.itemType}}
      </select>
    </label>
    <p class="adv-expand__hint">{{localize "DASU.Advancement.ItemGrant.SlotHint"}}</p>
    {{/if}}

    {{#if (eq type "relentlessCurse")}}
    <div class="adv-expand__curse-grid">
      <label class="adv-expand__field">
        <span>{{localize "DASU.Dejection.Curse.WpMaxPct"}}</span>
        <input type="number" min="0" max="100" step="1" value="{{data.wpMaxPct}}"
          data-advancement-id="{{advancementId}}" data-field="wpMaxPct"
          {{#unless editable}}disabled{{/unless}} />
      </label>
      <label class="adv-expand__field">
        <span>{{localize "DASU.Dejection.Curse.WpMaxFlat"}}</span>
        <input type="number" min="0" step="1" value="{{data.wpMaxFlat}}"
          data-advancement-id="{{advancementId}}" data-field="wpMaxFlat"
          {{#unless editable}}disabled{{/unless}} />
      </label>
      <label class="adv-expand__field">
        <span>{{localize "DASU.Actor.Stat.Avoid.abbr"}}</span>
        <input type="number" min="0" step="1" value="{{data.avoid}}"
          data-advancement-id="{{advancementId}}" data-field="avoid"
          {{#unless editable}}disabled{{/unless}} />
      </label>
      <label class="adv-expand__field">
        <span>{{localize "DASU.Actor.Stat.Hit.abbr"}}</span>
        <input type="number" min="0" step="1" value="{{data.hit}}"
          data-advancement-id="{{advancementId}}" data-field="hit"
          {{#unless editable}}disabled{{/unless}} />
      </label>
      <label class="adv-expand__field">
        <span>{{localize "DASU.Actor.Stat.Critical.abbr"}}</span>
        <input type="number" min="0" step="1" value="{{data.crit}}"
          data-advancement-id="{{advancementId}}" data-field="crit"
          {{#unless editable}}disabled{{/unless}} />
      </label>
      <label class="adv-expand__field adv-expand__field--check">
        <input type="checkbox" data-advancement-id="{{advancementId}}" data-field="grantsScar"
          {{#if data.grantsScar}}checked{{/if}} {{#unless editable}}disabled{{/unless}} />
        <span>{{localize "DASU.Dejection.Curse.GrantsScar"}}</span>
      </label>
    </div>
    {{#if data.grantsScar}}
    <p class="adv-expand__hint">{{localize "DASU.Dejection.Curse.ScarSlotHint"}}</p>
    {{/if}}
    {{/if}}

  </div>

</div>
