{{! Item Attributes Tab }}
<section class='tab attributes-item scrollable {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class='section-header'>
    <h3>Item Statistics</h3>
  </div>
  
  <div class='grid grid-2col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'DASU.Item.Item.FIELDS.cost.label'}}</label>
      <input
        type='text'
        name='system.cost'
        value='{{system.cost}}'
        data-dtype='Number'
      />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'DASU.Item.Item.FIELDS.quantity.label'}}</label>
      <input
        type='text'
        name='system.quantity'
        value='{{system.quantity}}'
        data-dtype='Number'
      />
    </div>
  </div>

  {{! ProseMirror Description Section }}
  <div class='separator'></div>
  <fieldset>
    <legend>{{localize 'DASU.Description'}}</legend>
    {{formInput @root.htmlInputField value=system.description name="system.description" toggled=@root.editable enriched=enrichedDescription disabled=(not @root.editable)}}
  </fieldset>
</section>