{{! Tactic Attributes Tab }}
<section class='tab attributes-tactic scrollable {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  {{! Tactic Template }}
  <div class='section-header'>
    <h3>Tactic Statistics</h3>
  </div>
  
  <div class='grid grid-2col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'DASU.Item.Tactic.FIELDS.damage.value.label'}}</label>
      <input
        type='text'
        name='system.damage.value'
        value='{{system.damage.value}}'
        data-dtype='Number'
      />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'DASU.Item.Tactic.FIELDS.damage.type.label'}}</label>
      <select name='system.damage.type' data-dtype='String'>
        {{selectOptions damageTypes selected=system.damage.type localize=true}}
      </select>
    </div>
  </div>
  
  <div class='separator'></div>
  
  <div class='resource'>
    <label class='resource-label'>{{localize 'DASU.Item.Tactic.FIELDS.cost.label'}}</label>
    <input
      type='text'
      name='system.cost'
      value='{{system.cost}}'
      data-dtype='Number'
    />
  </div>
  
  <div class='separator'></div>
  
  <div class='grid grid-2col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'DASU.Item.Tactic.FIELDS.toLand.label'}}</label>
      <input
        type='text'
        name='system.toLand'
        value='{{system.toLand}}'
        data-dtype='Number'
        {{#if system.isInfinity}}disabled{{/if}}
      />
    </div>
    <div class='resource'>
      <input
        type='checkbox'
        name='system.isInfinity'
        {{#if system.isInfinity}}checked{{/if}}
        data-dtype='Boolean'
      />
      <label for='system.isInfinity'>{{localize 'DASU.Item.Tactic.FIELDS.isInfinity.label'}}</label>
    </div>
  </div>
  
  <div class='separator'></div>
  
  <div class='resource'>
    <label class='resource-label'>{{localize 'DASU.Item.Tactic.FIELDS.govern.label'}}</label>
    <select name='system.govern' data-dtype='String'>
      <option value="pow" {{#if (eq system.govern "pow")}}selected{{/if}}>{{localize 'DASU.Attributes.pow.label'}}</option>
      <option value="dex" {{#if (eq system.govern "dex")}}selected{{/if}}>{{localize 'DASU.Attributes.dex.label'}}</option>
      <option value="will" {{#if (eq system.govern "will")}}selected{{/if}}>{{localize 'DASU.Attributes.will.label'}}</option>
      <option value="sta" {{#if (eq system.govern "sta")}}selected{{/if}}>{{localize 'DASU.Attributes.sta.label'}}</option>
    </select>
  </div>

  <div class='separator'></div>

  {{! ProseMirror Description Section }}
  <div class='separator'></div>
  <fieldset>
    <legend>{{localize 'DASU.Description'}}</legend>
    {{formInput @root.htmlInputField value=system.description name="system.description" toggled=@root.editable enriched=enrichedDescription disabled=(not @root.editable)}}
  </fieldset>
</section>