{{! Tactic Attributes Tab }}
<section class='tab attributes-tactic scrollable {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class='resource'>
    <label class='resource-label'>{{localize 'DASU.Item.Tactic.FIELDS.effect.label'}}</label>
    <textarea name='system.effect' rows='3'>{{system.effect}}</textarea>
  </div>

  {{! ProseMirror Description Section }}
  <div class='separator'></div>
  <div class='field-header'>
    <h4>{{localize 'DASU.Item.Ability.FIELDS.description.label'}}</h4>
  </div>
  {{#if editable}} 
    <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
      {{{enrichedDescription}}}
    </prose-mirror>
  {{else}} 
    {{{enrichedDescription}}}
  {{/if}}
</section> 