<div class="tab ack" data-group="primary" data-tab="ack">
  {{{archetypeTable}}}
  {{{subtypeTable}}}
  {{{specialAbilityTable}}}

  <div class="dasu-fieldset dasu-fieldset--tabbed transformation-fieldset">
    <div class="dasu-fieldset__tabs">
      <button class="dasu-fieldset__tab active" type="button">
        <span class="dasu-fieldset__tab-label">{{localize "DASU.Transformation.Title"}}</span>
      </button>
    </div>
    <div class="dasu-fieldset__panel">
      {{{transformationTable}}}
      <div class="transformation-drop-zone">
        <span class="transformation-drop-zone__hint">{{localize "DASU.Transformation.DropHint"}}</span>
      </div>
    </div>
  </div>
</div>
