<nav class="tabs sheet-tabs" data-group="primary" role="tablist">
  {{#each tabs}}
  <a class="item {{#if active}}active{{/if}}" role="tab"
     data-action="tab" data-group="primary" data-tab="{{id}}"
     aria-label="{{label}}" aria-selected="{{active}}">
    <i class="{{icon}}" inert></i>
    <span class="tab-label">{{label}}</span>
  </a>
  {{/each}}
</nav>
