<div class="dasu theme-dark pipeline-card pipeline-card--{{type}} {{#unless applied}}pipeline-card--reverted{{/unless}}">
  <div class="dasu-fieldset dasu-fieldset--active-legend pipeline-card__fieldset">
    <div class="dasu-fieldset__header">
      <img class="pipeline-card__avatar" src="{{targetImg}}" alt="" />
      <div class="dasu-fieldset__legend pipeline-card__target target-name" data-uuid="{{state.target.actorUuid}}">{{targetName}}</div>
      {{#if sourceName}}<span class="pipeline-card__source">{{sourceName}}</span>{{/if}}
    </div>

    <div class="pipeline-card__body">
      {{{body}}}
    </div>

    <button type="button" class="pipeline-card__toggle" data-action="pipelineToggle">
      {{#if applied}}<i class="fas fa-rotate-left"></i> {{localize "DASU.Pipeline.Undo"}}{{else}}<i class="fas fa-rotate-right"></i> {{localize "DASU.Pipeline.Redo"}}{{/if}}
    </button>
  </div>
</div>
